@config "../tailwind.config.ts";
@import "tailwindcss";

:root {
  --background: #20a958;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

@font-face {
  font-family: "Manulife";
  src: url("/fonts/ManulifeJHSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manulife";
  src: url("/fonts/ManulifeJHSans-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manulife";
  src: url("/fonts/ManulifeJHSans.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manulife";
  src: url("/fonts/ManulifeJHSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manulife";
  src: url("/fonts/ManulifeJHSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  background: linear-gradient(180deg, #1db954, #159a4a);
  color: var(--foreground);
  font-family: "Manulife", sans-serif;
  line-height: 1.2;
}

/* Custom Scrollbar Styles */
/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  border: 2px solid #ffffff33;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #ffffff1a;
}

.cusContainer {
  @apply mx-auto w-full px-[20px];
}

.flexCenter {
  @apply flex items-center justify-center;
}

.main-button {
  @apply rounded-md bg-blue-500 px-4 py-2 text-white;
}

.main-btn {
  @apply cursor-pointer rounded-full border-2 border-white p-2.5 text-center text-lg font-bold text-[#111] transition-all duration-300 ease-in-out;
  background: linear-gradient(to bottom, #dcfce7 0%, #fff 50%, #dcfce7 100%);
  background-size: 200% 200% !important;
  background-position: bottom;

  &:disabled {
    background: #ccc !important;
  }

  &:hover {
    background-position: top;
  }
}

.secondary-btn {
  @apply cursor-pointer rounded-full border-2 border-white p-[10px] text-center text-lg font-bold text-white transition-all duration-300 ease-in-out;
  background: linear-gradient(to bottom, #00753e 0%, #00a758 50%, #00753e 100%);
  background-size: 200% 200% !important;
  background-position: bottom;

  &:disabled {
    background: #aaa !important;
  }

  &:hover {
    background-position: top;
  }
}

.cusInput {
  @apply w-full rounded-full border border-[#fff9] px-6 py-3 text-base leading-relaxed duration-300 focus:shadow-[0px_0px_0px_2px_#fffa] focus:outline-none;
}

.custom-modal {
  @apply max-w-[calc(100dvw-32px)]!;

  .ant-modal-container {
    @apply rounded-[28px] px-7 py-6;
  }

  .ant-modal-body {
    @apply font-Manulife text-base;
  }

  &.quiz-modal {
    .ant-modal-container {
      @apply px-3;
    }
  }
}

.animation-scale {
  animation: scale 3s ease-in-out infinite;
}
.animation-swing {
  animation: swing 3s ease-in-out infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
